
.bg-img {
    /* The image used */
    background-image: url("../img/aboutus.jpg");
    height: 460px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Needed to position the navbar */
    position: relative;
}
h1{
    text-align: center;
    color: red;
    margin-bottom: 20px;
}
.content-aboutus{
    margin-left: 30px;
}
/*Our member*/
.column {
    float: left;
    width: 25%;
    padding: 0 8px;
    margin: 10px 0px 50px 260px;
}
@media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.container {
    padding: 0 16px;
}
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}
.title {
    color: red;
}
p{
    margin-bottom: 5px;
}
.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #ee4c7c;
    background-color: #ee4c7c;
    text-align: center;
    cursor: pointer;
    width: 100%;
}
.button:hover {
    background-color: #000;
}

