
.bg-img {
    /* The image used */
    background-image: url("/img/his2.1.jpg");
    height: 650px;
    width: 1100px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Needed to position the navbar */
    position: relative;
    margin-left: 220px;
}

